

.banner {
    display: flex;
    justify-content: center;
    background-color: #A8CB8B;
    border-radius: 15px 15px 0 0;
    height: 150px;
    width: 350px;
}

.contentContact {
    top: -15px;
    width: 350px;
    display: flex;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    flex-direction: column;
    border-radius: 15px;
}

.infos {
    display: flex;
    position: relative;
    flex-direction: column;
    top: -45px;
    left: 40px;
    gap: 15px;
}

.info-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.9);
    gap: 10px;
}
