.projects,
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    justify-content: center;
    padding-bottom: 100px;
    width: 100vw;
}

.projects h1,
.services h1 {
    color:white;
    padding-top: 70px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    width: 586px;
}

.projects div {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.projects div a img {
    opacity: 0.3;
}

.projects div a h2,
.projects div a h3,
.projects div a p {
    position: relative;
    color: white;
    text-align: center;
    top: -170px;
}

.projects div a h2{
    font-size: 70px;
}

.projects div a h3{
    font-size: 30px;
    padding-bottom: 5px;
}

.services-container {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.services-container div {
    color: white;
    background-color: #151515;
    border-radius: 15px;
    font-size: 25px;
    width: 370px;
    padding: 20px;
}

.services-container div div {
    padding: 0;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 250px;
    gap: 10px;
    font-size: 30px;
}

@media(max-width: 1160px) {
    .hiper-links {
        padding-bottom: 50px;
    }

    .about-info {
        padding-top: 0px;
    }
}

@media(max-width: 600px) {
    .about-image {
        height: 100vw;
    }

    .about-info {
        width: 90vw;
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-name {
        width: 80vw;
    }

    .about-description {
        width: 80vw;
    }
}

@media(max-width: 388px) {
    .about-button {
        width: 80vw;
    }
}
